body {
  font-family: 'PokemonGB', monospace, sans-serif;
  padding: 0;
  background-image: url('../imagenes/amiguitos.jpeg');
}

header {

    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ce7e9b, 0 0 10px #130007, 0 0 2px #7bff00, 0 0 4px #ff005e, 0 0 8px #ff005e;
    animation: glow 1.5s infinite alternate;
    padding: 20px;
    font-size: 16px;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #4e4e4e, 0 0 10px #ff2172, 0 0 20px #ffe600, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #c8ff00, 0 0 20px #00d4ff, 0 0 40px #b4b100, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

#barraInicioCreadores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo de los botones */
#barraInicioCreadores button,
.barraInicioCreadores button {
  background-color: rgba(243, 201, 94, 0.15); /* sin fondo */
  border: 2px solid rgba(243, 201, 94, 0.5); /* borde amarillo ultraball */
  color: white; /* texto blanco */
  cursor: pointer;
  transition: all 0.3s ease;
}



#barraInicioCreadores button:hover,
.barraInicioCreadores button:hover {
  background-color: rgba(243, 201, 94, 0.5); /* amarillo al pasar */
  color: #000000; /* texto negro */
}

/* Botón de menú más compacto */
#menuCreadores {
  font-size: 20px;
  padding: 6px 12px;
}

h1 {
  margin: 0;
}

.contenedores {
  max-width: 1300px; /* ancho total de los cuadrados */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  text-align: center;
  padding: 30px 20px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.25);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 4px solid #000000;
  box-shadow: 0px 0px 8px #f3c95e;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #333;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #000000;
  color: #f3c95e;
}