* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PokemonGB', monospace, sans-serif;
}

body {
  background: linear-gradient(135deg, #6e757e, #9013fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(165, 0, 0, 0.712);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form-group input:focus {
  border-color: #9013fe;
  outline: none;
}

#boton-Login {
  width: 100%;
      padding: 12px;
      background-color: #5613fe;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
}

#boton-Login:hover {
  background-color: #9013fe;

}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #9013fe;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.logo {
max-width: 150px;
height: auto;
text-align: center;}

#barraInicio {
    display: flex; /* Convierte el contenedor en un Flexbox */
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 10px;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre los elementos de cada grupo */
}

/* Opcional: Estilos para el perfil del usuario */
.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}