#barraFinal {
    position: relative;          /* ya no fijo */
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #ffd966, #f78c6b, #b4f8c8);
    color: #222;
    text-align: center;
    padding: 15px 10px;
    font-size: 18px;
    font-family: 'PokemonGB', monospace, sans-serif;
    border-top: 3px solid #000;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    margin-top: 60px; /* espacio para que quede separado del contenido */
    z-index: 10;
    backdrop-filter: blur(2px); /* leve desenfoque para que se mezcle con el fondo gif */
}

/* Links dentro del footer */
#barraFinal a {
    color: #ff0066;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

#barraFinal a:hover {
    text-decoration: underline;
    color: #00ffff;
}

/* Ajusta el body para que el footer quede abajo del contenido */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* empuja el footer al final */
}
#footerControls {
    padding-right: 26px;
    height: 33px;;
    display: flex;
    justify-content: right;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    margin-left: 10px;
}
#musicVolume {
    width: 120px;
    margin-left: 8px;
}
