#barraFinal {
    background-color: #f0f0f0;
    padding-top: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    position: relative;      
    width: 100%;
    z-index: 1;              
    font-size: 14px;
}

#barraFinal p {
    margin: 0;                
}

#barraFinal a {
    color: #007BFF;          
    text-decoration: none;    
    font-weight: bold;        
    font-size: 16px;
}

#barraFinal a:hover {
    text-decoration: underline;
    color: #0056b3;          
}
