<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="../CSS/EstilosDetallespokemon.css" />
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha Pokémon </title>
</head>
<body>
  <header class="header">
    <button class="menu-btn">☰ Menu</button>
    <div class="search-section">
      <input type="text" placeholder="Buscar Pokemon..." class="search-input">
      <button class="search-btn">Busca ya!</button>
    </div>
  </header>

  <main class="main-content">
    <div class="pokemon-card">
      <div class="pokemon-image">
        <img src="" alt="pokemon">
      </div>
      <div class="pokemon-info">
        <h1 class="pokemon-name">Pokemon</h1>
        <div class="pokemon-description">*Descripcion del pokemon*</div>
        <div class="pokemon-details">
          <p><strong>Tipo:</strong> <span class="tag">*Tipo*</span></p>
          <p><strong>Debilidades:</strong> <span class="tag">*Debilidades*</span></p>
          <p><strong>Habilidad/es:</strong> <span class="tag">*Habilidad/es*</span></p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
