<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="../CSS/estiloPokedex.css" />
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
  
</head>
<body>


  <div class="top-bar">
    <button class="menu-btn">=Menu</button>
    <div class="search-top">
      <input type="text" placeholder="Buscar usuario...">
      <button>Busca ya!</button>
    </div>
  </div>

  
  <main>
    <div class="main-title">Pokedex</div>

    <div class="search-box">
      <input type="text" placeholder="Buscar pokemon...">
    </div>

    <div class="inventory">
      <div class="pokemon-card">
        <img src="https://via.placeholder.com/100" alt="img pkmn">
        <div class="pokemon-description">*nombre/n° pokedex*</div>
      </div>
      <div class="pokemon-card">
        <img src="https://via.placeholder.com/100" alt="img pkmn">
        <div class="pokemon-description">*nombre/n° pokedex*</div>
      </div>
      <div class="pokemon-card">
        <img src="https://via.placeholder.com/100" alt="img pkmn">
        <div class="pokemon-description">*nombre/n° pokedex*</div>
      </div>
      <div class="pokemon-card">
        <img src="https://via.placeholder.com/100" alt="img pkmn">
        <div class="pokemon-description">*nombre/n° pokedex*</div>
      </div>
      <div class="pokemon-card">
        <img src="https://via.placeholder.com/100" alt="img pkmn">
        <div class="pokemon-description">*nombre/n° pokedex*</div>
      </div>
      <div class="pokemon-card">
        <img src="https://via.placeholder.com/100" alt="img pkmn">
        <div class="pokemon-description">*nombre/n° pokedex*</div>
      </div>
    </div>
  </main>

</body>
</html>
